html {
	font-family: Helvetica;
}

nav {
	background-color: bisque;
}
.datos {
	background-color: cadetblue;
}
.seriales {
	background-color: cadetblue;
}

footer {
	text-align: center;
	background-color: dimgrey;
	color: black;
}

/* #qr-reader {
	width: 50%;
	align-self: center;
} */
