html {
	font-family: Helvetica, sans-serif;
}

nav {
	background-color: bisque;
}
#cliente {
	background-color: cadetblue;
}
#seriales {
	background-color: beige;
}

footer {
	text-align: center;
	background-color: grey;
	color: white;
	padding: 10px;
}

/* #qr-reader {
	width: 50%;
	align-self: center;
} */
